@charset "utf-8";
/* CSS Document */
@import 'reset.css';
@import 'text.css';
/* Estilos específicos del Módulo 1 */
html.mod1 #header {
	background-color: #f6921e;
}
html.mod1 #logoMEC {
	background-color: #0066B2;
}
html.mod1 #numeroModulo {
	background-color: #9D0B0F;
}
html.mod1 #nombreModulo #fondo div {
	color: #f9a322;
}
html.mod1 #fotoModulo {
	background-image: url(../img/banners/Mod1_fotoBanner-960.jpg);
}
html.mod1 #caja1 {
	background-color: #4A6618;
}
html.mod1 #caja2 {
	background-color: #F6921E;
}
html.mod1 #caja3 {
	background-color: #9D0B0F;
}
html.mod1 #caja1>#contenido #titulo {
	color: #FFCB05;
}
html.mod1 #caja2>#contenido #titulo {
	color: #4a6618;
}
html.mod1 #caja3>#contenido #titulo {
	color: #FFCB05;
}
html.mod1 #caja1>#contenido #recuadro {
	background-color: #56791b;
}
html.mod1 #caja2>#contenido #recuadro {
	background-color: #f9a322;
}
html.mod1 #caja3>#contenido #recuadro {
	background-color: #b41316;
}
html.mod1 #caja1>#contenido #recuadro>#titulo>hr {
	border-color: #f6921e;
}
html.mod1 #caja2>#contenido #recuadro>#titulo>hr {
	border-color: #4a6618;
}
html.mod1 #caja3>#contenido #recuadro>#titulo>hr {
	border-color: #fff;
}
html.mod1 #caja1>#contenido #recuadro>#contenido {
	color: #fff;
}
html.mod1 #caja2>#contenido #recuadro>#contenido {
	color: #000;
}
html.mod1 #caja3>#contenido #recuadro>#contenido {
	color: #fff;
}
html.mod1 #caja1 #panel1,
html.mod1 #caja1 #panel2 {
	background-color: #56791b;
}
html.mod1 #caja2 #panel1,
html.mod1 #caja2 #panel2 {
	background-color: #f9a322;
}
html.mod1 #caja3 #panel1,
html.mod1 #caja3 #panel2 {
	background-color: #b41316;
}
html.mod1 #caja1 #resaltoIcono>.texto {
	background-color: #4A6618;
	color: #FFF;
}
html.mod1 #caja2 #resaltoIcono>.texto {
	background-color: #f6921e;
	color: #000;
	font-weight: 600;
}
html.mod1 #caja3 #resaltoIcono>.texto {
	background-color: #9d0b0f;
	color: #FFF;
}
html.mod1 #caja1>#contenido #contenido,
html.mod1 #caja3>#contenido #contenido {
	color: #FFF;
}
html.mod1 #caja2>#contenido #contenido {
	color: #000;
	font-weight: 600;
}
/* Estilos específicos del Módulo 2 */
html.mod2 #header {
	background-color: #71a423;
}
html.mod2 #logoMEC {
	background-color: #9d0b0f;
}
html.mod2 #numeroModulo {
	background-color: #f6921e;
}
html.mod2 #nombreModulo #fondo div {
	color: #86b244;
}
html.mod2 #fotoModulo {
	background-image: url(../img/banners/Mod2_fotoBanner-960.jpg);
}
html.mod2 #caja1 {
	background-color: #0066b2;
}
html.mod2 #caja2 {
	background-color: #4a6618;
}
html.mod2 #caja3 {
	background-color: #f6921e;
}
html.mod2 #caja1>#contenido #titulo {
	color: #FFCB05;
}
html.mod2 #caja2>#contenido #titulo {
	color: #FFCB05;
}
html.mod2 #caja3>#contenido #titulo {
	color: #4a6618;
}
html.mod2 #caja1>#contenido #recuadro {
	background-color: #0f4c91;
}
html.mod2 #caja2>#contenido #recuadro {
	background-color: #56791b;
}
html.mod2 #caja3>#contenido #recuadro {
	background-color: #f9a322;
}
html.mod2 #caja1>#contenido #recuadro>#titulo>hr {
	border-color: #f6921e;
}
html.mod2 #caja2>#contenido #recuadro>#titulo>hr {
	border-color: #f6921e;
}
html.mod2 #caja3>#contenido #recuadro>#titulo>hr {
	border-color: #fff;
}
html.mod2 #caja1>#contenido #contenido,
html.mod2 #caja3>#contenido #contenido {
	color: #FFF;
}
html.mod2 #caja2>#contenido #contenido {
	color: #FFF;
}
html.mod2 #caja1>#contenido #recuadro>#contenido {
	color: #fff;
}
html.mod2 #caja2>#contenido #recuadro>#contenido {
	color: #FFF;
}
html.mod2 #caja3>#contenido #recuadro>#contenido {
	color: #000;
	font-weight: 600;
}
html.mod2 #caja1 #panel1,
html.mod2 #caja1 #panel2 {
	background-color: #0f4c91;
}
html.mod2 #caja2 #panel1,
html.mod2 #caja2 #panel2 {
	background-color: #56791b;
}
html.mod2 #caja3 #panel1,
html.mod2 #caja3 #panel2 {
	background-color: #f9a322;
}
html.mod2 #caja1 #resaltoIcono>.texto {
	background-color: #252660;
	color: #FFF;
}
html.mod2 #caja2 #resaltoIcono>.texto {
	background-color: #4a6618;
	color: #FFF;
}
html.mod2 #caja3 #resaltoIcono>.texto {
	background-color: #f6921e;
	color: #000;
	font-weight: 600;
}
/* Ajustes especiales (hacks) Módulo 2*/
html.mod2 #caja2 #panel1 #contenido,
html.mod2 #caja2 #panel2 #contenido {
	width: 31em;
}
html.mod2 .video {
	margin-left: -3em;
}
html.mod2 .video .before {
	visibility: hidden;
}
/* Estilos específicos del Módulo 3 */
html.mod3 #header {
	background-color: #9d0b0f;
}
html.mod3 #logoMEC {
	background-color: #4a6618;
}
html.mod3 #numeroModulo {
	background-color: #0066b2;
}
html.mod3 #nombreModulo #fondo {
	margin-top: 0.1em;
}
html.mod3 #nombreModulo #fondo div {
	color: #ac2f33;
	font-size: 0.39em;
}
html.mod3 #nombreModulo #titulo {
	margin-top: -0.35em;
}
html.mod3 #fotoModulo {
	background-image: url(../img/banners/Mod3_fotoBanner-960.jpg);
}
html.mod3 #caja1 {
	background-color: #f6921e;
}
html.mod3 #caja2 {
	background-color: #0066b2;
}
html.mod3 #caja1>#contenido #titulo {
	color: #4a6618;
}
html.mod3 #caja2>#contenido #titulo {
	color: #ffca2c;
}
html.mod3 #caja1>#contenido #recuadro {
	background-color: #f9a322;
}
html.mod3 #caja2>#contenido #recuadro {
	background-color: #0f4c91;
}
html.mod3 #caja1>#contenido #recuadro>#titulo>hr {
	border-color: #f6921e;
}
html.mod3 #caja2>#contenido #recuadro>#titulo>hr {
	border-color: #0f4c91;
}
html.mod3 #caja1>#contenido #contenido {
	color: #000;
	font-weight: 600;
}
html.mod3 #caja2>#contenido #contenido {
	color: #FFF;
}
html.mod3 #caja1>#contenido #recuadro>#contenido {
	color: #000;
	font-weight: 600;
}
html.mod3 #caja2>#contenido #recuadro>#contenido {
	color: #FFF;
}
html.mod3 #caja1 #panel1,
html.mod3 #caja1 #panel2 {
	background-color: #f9a322;
}
html.mod3 #caja2 #panel1,
html.mod3 #caja2 #panel2 {
	background-color: #0f4c91;
}
html.mod3 #caja1 #resaltoIcono>.texto {
	background-color: #f6921e;
	color: #000;
	font-weight: 600;
}
html.mod3 #caja2 #resaltoIcono>.texto {
	background-color: #0066b2;
	color: #FFF;
}
/* Ajustes especiales (hacks) del Módulo 3 */
html.mod3 .grid_7 #video {
	width: 36.167em;
	height: 20.344em;
}
html.mod3 #cargaVideo1,
html.mod3 #cargaVideo2 {
	color:#4a6618;
}
/* Estilos específicos del Módulo 4 */
html.mod4 #header {
	background-color: #0066b2;
}
html.mod4 #logoMEC {
	background-color: #f6921e;
}
html.mod4 #numeroModulo {
	background-color: #4a6618;
}
html.mod4 #nombreModulo #titulo {
	margin-top: -0.25em;
}
html.mod4 #nombreModulo #titulo div {
	font-size: 0.27em;
}
html.mod4 #nombreModulo #fondo {
	margin-top: 0.2em;
}
html.mod4 #nombreModulo #fondo div {
	color: #267dbd;
	font-size: 0.28em;
}
html.mod4 #fotoModulo {
	background-image: url(../img/banners/Mod4_fotoBanner-960.jpg);
}
html.mod4 #caja1 {
	background-color: #9D0B0F;
}
html.mod4 #caja2 {
	background-color: #4A6618;
}
html.mod4 #caja1>#contenido #titulo {
	color: #FFCB05;
}
html.mod4 #caja2>#contenido #titulo {
	color: #FFCB05;
}
html.mod4 #caja1>#contenido #recuadro {
	background-color: #b41316;
}
html.mod4 #caja2>#contenido #recuadro {
	background-color: #56791b;
}
html.mod4 #caja1>#contenido #recuadro>#titulo>hr {
	border-color: #f6921e;
}
html.mod4 #caja2>#contenido #recuadro>#titulo>hr {
	border-color: #f6921e;
}
html.mod4 #caja1>#contenido #contenido {
	color: #FFF;
}
html.mod4 #caja2>#contenido #contenido {
	color: #FFF;
}
html.mod4 #caja1>#contenido #recuadro>#contenido {
	color: #000;
}
html.mod4 #caja2>#contenido #recuadro>#contenido {
	color: #FFF;
}
html.mod4 #caja1 #panel1,
html.mod4 #caja1 #panel2 {
	background-color: #b41316;
}
html.mod4 #caja2 #panel1,
html.mod4 #caja2 #panel2 {
	background-color: #56791b;
}
html.mod4 #caja1 #resaltoIcono>.texto {
	background-color: #9d0b0f;
	color: #FFF;
}
html.mod4 #caja2 #resaltoIcono>.texto {
	background-color: #4A6618;
	color: #FFF;
}
/* Estilos específicos de Nuestro Curso */
html.nuestroCurso #header {
	background-color: #0066b2;
}
html.nuestroCurso #logoMEC {
	background-color: #343433;
}
html.nuestroCurso #numeroModulo {
	background-color: #808080;
}
html.nuestroCurso #nombreModulo #titulo {
	margin-top: -0.3em;
}
html.nuestroCurso #nombreModulo #titulo div {
	font-size: 0.3em;
}
html.nuestroCurso #nombreModulo #fondo {
	margin-top: 0.05em;
}
html.nuestroCurso #nombreModulo #fondo div {
	font-size: 0.4em;
	color: #267dbd;
}
html.nuestroCurso #caja1 {
	background-color: #0066b2;
}
html.nuestroCurso #caja2 {
	background-color: #808080;
}
html.nuestroCurso #caja1>#contenido #titulo {
	color: #FFCB05;
}
html.nuestroCurso #caja2>#contenido #titulo {
	color: #FFCB05;
}
html.nuestroCurso #caja1>#contenido #recuadro {
	background-color: #0f4c91;
}
html.nuestroCurso #caja2>#contenido #recuadro {
	background-color: #808080;
}
html.nuestroCurso #caja1>#contenido #recuadro>#titulo>hr {
	border-color: #f6921e;
}
html.nuestroCurso #caja2>#contenido #recuadro>#titulo>hr {
	border-color: #f6921e;
}
html.nuestroCurso #caja1>#contenido #contenido {
	color: #FFF;
}
html.nuestroCurso #caja2>#contenido #contenido {
	color: #FFF;
}
html.nuestroCurso #caja1>#contenido #recuadro>#contenido {
	color: #000;
}
html.nuestroCurso #caja2>#contenido #recuadro>#contenido {
	color: #FFF;
}
html.nuestroCurso #caja1 #panel1,
html.nuestroCurso #caja1 #panel2 {
	background-color: #0f4c91;
}
html.nuestroCurso #caja2 #panel1,
html.nuestroCurso #caja2 #panel2 {
	background-color: #808080;
}
html.nuestroCurso #caja1 #resaltoIcono>.texto {
	background-color: #0f4c91;
	color: #FFF;
}
html.nuestroCurso #caja2 #resaltoIcono>.texto {
	background-color: #343433;
	color: #FFF;
}
/* Ajustes especiales (hacks) de Nuestro Curso */
html.nuestroCurso #fotoModulo {
	height: 3em;
}
/* Estilos específicos de Centro de recursos */
html.cr #header {
	background-color: #0066b2;
}
html.cr #logoMEC {
	background-color: #343433;
}
html.cr #numeroModulo {
	background-color: #808080;
}
html.cr #nombreModulo #titulo {
	margin-top: -0.3em;
}
html.cr #nombreModulo #titulo div {
	font-size: 0.3em;
}
html.cr #nombreModulo #fondo {
	margin-top: 0.05em;
}
html.cr #nombreModulo #fondo div {
	font-size: 0.4em;
	color: #267dbd;
}
/* Ajustes especiales (hacks) de Centro de recursos */
html.cr #fotoModulo {
	height: 3em;
}
html.cr #titulo {
	margin-top: 3em;
}
html.expandir #titulo {
	margin-top: 0em;
	cursor: pointer;
}
html.expandir #margen {
	margin-top: -2em;
}
/* Estilos generales */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 96px;
}
.invisible {
	display: none;
}
#header {
	height: 0.729em;
}
#logoMEC {
	background-image: url(../img/logos/logoMEC-960.png);
	background-position: center 0.115em;
	background-repeat: no-repeat;
	color: #FFF;
	text-align: center;
	height: 1.719em;
	position: relative;
	left: -10px;
}
#logoMEC #titulo {
	margin-top: 1.15em;
}
#logoMEC #titulo div {
	font-size: 0.225em;
	font-weight: 700;
	visibility: hidden;
}
#logoMEC #subtitulo {
	margin-top: -0.1em;
}
#logoMEC #subtitulo div {
	font-size: 0.175em;
	font-style: italic;
	font-weight: 400;
	visibility: hidden;
}
#numeroModulo {
	height: 0.729em;
	color: #FFF;
	text-align: center;
	position: relative;
	left: -30px;
}
#numeroModulo #titulo {
	margin-top: 0.075em;
}
#numeroModulo #titulo div {
	font-size: 0.1em;
}
#numeroModulo #subtitulo {
	margin-top: -0.1em;
}
#numeroModulo #subtitulo div {
	font-size: 0.4em;
}
#nombreModulo {
	height: 1.167em;
	position: relative;
	left: -30px;
}
#nombreModulo #fondo {
	margin-top: -0.05em;
}
#nombreModulo #fondo div {
	font-size: 0.515em;
}
#nombreModulo #titulo {
	margin-top: -0.375em;
}
#nombreModulo #titulo div {
	font-size: 0.317em;
	color: #FFF;
}
#fotoModulo {
	height: 5.6em;
	background-repeat: no-repeat;
	position: relative;
	left: -10px;
	top: -1em;
	z-index: -1;
}
#fotoModulo #titulo {
	text-align: right;
	margin-top: 2.885em;
	margin-right: 0.271em;
}
#fotoModulo #titulo div {
	font-size: 0.115em;
	font-weight: 700;
	line-height: 1.15em;
}
#intro {
	padding-top: 0.312em;
	margin-top: -3.1em;
}
#intro #titulo {
	color: #252660;
	font-size: 0.25em;
}
#intro #margen {
	font-size: 0.146em;
	height: 2em;
	text-align: center;
	visibility: hidden;
}
#intro #margen .linea {
	width: 100%;
	height: 1px;
	background-color: #333333;
	margin-top: 0.085em;
}
#intro #margen #triangulo {
	margin-top: -0.475em;
}
#intro #subtitulo {
	color: #9D0B0F;
	font-size: 0.187em;
}
#intro #contenido {
	font-size: 0.146em;
}
#intro #contenido ul {
	display: block;
	margin-left: 2em;
}
#intro #contenido p:first-child {
	height: 0.187em;
	visibility: hidden;
}
#tablaIconos {
	padding-left: 1.071em;
}
#tablaIconos img {
	width: 3.846em;
	height: 3.846em;
	margin-left: 1.929em;
	margin-bottom: 2.5em;
}
#actOpc {
	background-color: #333333;
	margin-top: 1em;
}
#caja1,
#caja2,
#caja3,
#actOpc {
	font-size: 0.146em;
	padding-bottom: 1.667em;
}
#caja1>#titulo,
#caja2>#titulo,
#caja3>#titulo,
#actOpc>#titulo {
	margin-left: 2.357em;
	margin-top: 1.929em;
	width: 17em;
	color: #FFF;
}
#caja1>#titulo div:first-child,
#caja2>#titulo div:first-child,
#caja3>#titulo div:first-child,
#actOpc>#titulo div:first-child {
	font-size: 1.35em;
}
#caja1>#titulo div:last-child,
#caja2>#titulo div:last-child,
#caja3>#titulo div:last-child,
#actOpc>#titulo div:last-child {
	font-size: 1.8em;
	line-height: 1em;
}
#caja1>#contenido,
#caja2>#contenido,
#caja3>#contenido,
#actOpc>#contenido {
	margin-top: 1.929em;
}
#caja1>#contenido>div,
#caja2>#contenido>div,
#caja3>#contenido>div,
#actOpc>#contenido>div {
	margin-left: 2.357em;
}
#caja1>#contenido #titulo,
#caja2>#contenido #titulo,
#caja3>#contenido #titulo,
#actOpc>#contenido #titulo {
	font-size: 1.4em;
	padding-bottom: 1em;
}
#actOpc>#contenido #titulo {
	color: #FFF;
}
#actOpc>#contenido #contenido {
	color: #FFF;
}
#caja1>#contenido #recuadro,
#caja2>#contenido #recuadro,
#caja3>#contenido #recuadro {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	margin-top: 1em;
}
#caja1>#contenido #recuadro>#contenido,
#caja2>#contenido #recuadro>#contenido,
#caja3>#contenido #recuadro>#contenido {
	margin-top: -1em;
	padding-bottom: 1em;
}
#caja1 #panel1,
#caja1 #panel2,
#caja2 #panel1,
#caja2 #panel2,
#caja3 #panel1,
#caja3 #panel2 {
	padding-bottom: 1em;
	padding-right: 1em;
}
#panel1>#titulo,
#panel2>#titulo {
	padding-top: 1em;
	cursor: pointer;
}
#panel1>#contenido,
#panel2>#contenido {
	margin-left: 1em;
}
#panel1>#titulo .before,
#panel2>#titulo .before {
	float: left;
	width: 2.748em;
	height: 2.748em;
	margin-top: -0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
}
#actOpc #resaltoIcono>.texto {
	background-color: #808080;
	color: #FFF;
}
.grid_6 #video {
	width: 31em;
	height: 17.438em;
}
#resaltoIcono {
	margin-left: 3.548em;
	margin-right: -3.548em;
	margin-bottom: 2em;
	margin-top: 0.5em;
	display: block;
	text-decoration: none;
}
#resaltoIcono .before {
	content: "\a0";
	float: left;
	width: 3.748em;
	height: 3.748em;
	margin-left: -3.548em;
	margin-top: -0.5em;
	background-repeat: no-repeat;
}
#resaltoIcono .texto {
	margin-left: -0.3em;
	padding-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;
}
.individual .before {
	background-image: url(../img/iconos/icoIndividual-960.png);
}
.grupal .before {
	background-image: url(../img/iconos/icoGrupal-960.png);
}
.docs .before {
	background-image: url(../img/iconos/icoDocs-960.png);
}
.wiki .before {
	background-image: url(../img/iconos/icoWiki-960.png);
}
.centro .before {
	background-image: url(../img/iconos/icoCentro-960.png);
}
.tutor .before {
	background-image: url(../img/iconos/icoTutor-960.png);
}
.foro .before {
	background-image: url(../img/iconos/icoForo-960.png);
}
.video .before {
	background-image: url(../img/iconos/icoVideo-960.png);
}
.chat .before {
	background-image: url(../img/iconos/icoChat-960.png);
}
#footer div {
	text-align: center;
}
#footer div:first-child {
	text-align: left;
}
#footer div:last-child {
	text-align: right;
}
.ocultarContenido {
	display: none;
}
#salida {
	font-size: 14px;
}