<div class="portafolio"
     oca-fondo-animado>
  @for (proyecto of proyectos; track proyectos; let numProy = $index) {
  <div oca-card
       @arribaAbajo
       class="proyecto">
    <div class="titulo"
         [innerHTML]="proyecto.titulo | safe:'html'">
    </div>
    <div class="contenido">
      <img [src]="proyecto.portada"
           class="portada">
      <div class="textos">
        <div class="descripcion"
             [innerHTML]="proyecto.descripcion[idioma]">
        </div>
        <div class="clientes">
          <span class="titulo"
                [innerHTML]="interfaz['clientes'][idioma]">
          </span>
          <span class="cont"
                [innerHTML]="proyecto.clientes.join(', ')">
          </span>
        </div>
        <div class="tecnologias">
          <span class="titulo"
                [innerHTML]="interfaz['tecnologias'][idioma]">
          </span>
          <span class="cont"
                [innerHTML]="proyecto.tecnologias.join(', ')">
          </span>
        </div>
        @if (proyecto.resultado){
        <div class="resultado">
          <span class="titulo"
                [innerHTML]="interfaz['resultado'][idioma]">
          </span>
          <span class="cont"
                [innerHTML]="proyecto.resultado[idioma]">
          </span>
        </div>
        }
        @if (proyecto.keywords) {
        <div class="tecnologias">
          <span class="titulo"
                [innerHTML]="interfaz['keywords'][idioma]">
          </span>
          <span class="cont"
                [innerHTML]="proyecto.keywords[idioma].join(', ')">
          </span>
        </div>
        }
      </div>
    </div>
    <div oca-carrusel
         class="carrusel">
      @for (captura of proyecto.capturas; track captura; let numCap = $index) {
      <img [src]="captura.img"
           (click)="abreCaptura(numProy, numCap)"
           class="captura">
      }
    </div>
    @if (proyecto.enlace && proyecto.enlace.contenido && proyecto.enlace.tipo){
    <div class="accion">
      <a [href]="proyecto.enlace.enlace"
         oca-boton
         [icono]="proyecto.enlace.icono"
         [contenido]="proyecto.enlace.contenido"
         [tipo]="proyecto.enlace.tipo">
        <span class="texto"
              [innerHTML]="proyecto.enlace.textos[idioma]">
        </span>
      </a>
    </div>
    }
  </div>
  }
</div>
<div oca-overlay
     class="overlay"
     [visible]="overlayVisible"
     (cerrar)="overlayVisible = false"
     [data]="overlayData">
  <div class="header">
    <button oca-boton
            icono="close"
            contenido="icono"
            tipo="acento"
            class="cerrar"
            (click)="overlayVisible = false">
      <span class="texto">Cerrar</span>
    </button>
  </div>
  <section class="contenido"
           [ngClass]="propCapOver">
    <div class="captura">
      <img [src]="overlayData.img"
           (load)="propCaptura($event)">
    </div>
    <div class="texto"
         [innerHTML]="overlayData.txt | safe: 'html'">
    </div>
  </section>
  <div class="controles">
    <button oca-boton
            class="control anterior"
            contenido="icono"
            tipo="acento"
            icono="anterior"
            (click)="overlayCambiaCaptura(-1)">
      <span class="texto">Anterior</span>
    </button>
    <button oca-boton
            class="control siguiente"
            contenido="icono"
            tipo="acento"
            icono="siguiente"
            (click)="overlayCambiaCaptura(1)">
      <span class="texto">Siguiente</span>
    </button>
  </div>
</div>