@use "../../../../styles/color" as color;

@mixin img-hor() {
  width: 100%;
  display: flex;
  justify-content: center;
}

.portafolio {
  .proyecto {
    max-width: 778px;
    .contenido {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      max-width: none;
      .portada {
        max-width: 40%;
        max-height: 320px;
        width: auto;
        height: auto;
      }
      .descripcion {
        width: 60%;
      }
    }
  }
}
.overlay {
  .header {
    display: flex;
    justify-content: flex-end;
  }
  .contenido {
    display: flex;
    gap: 16px;
    padding: 25px 54px;
    &.horizontal,
    &.estandar {
      flex-direction: column;
      .captura {
        @include img-hor();
      }
    }
    &.vertical {
      .captura {
        width: fit-content;
        @media (orientation: portrait) {
          @include img-hor();
        }
      }
    }
    @media (orientation: portrait) {
      flex-direction: column;
    }
    .captura {
      max-height: calc(80vh - 150px);
    }
    .texto {
      max-width: 35em;
      color: color.$blanco;
    }
  }
  .controles {
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
