@charset "utf-8";
/* CSS Document */
/* ----------- Estilos del cuerpo <------------- */
body {
	background-color: #FFF;
}
.invisible {
	visibility: hidden;
}
#tituloSup,
#encabezado,
#menu,
#breadcrumb,
#contenido,
#paginacion,
#logos,
#seleccionaPersonaje {
	border-right-width: 30px;
	border-left-width: 30px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #4F2A0D;
	border-left-color: #4F2A0D;
}
#tituloSup {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	color: #FFF;
	height: 25px;
	font-size: 14px;
	padding-top: 10px;
	background-color: #4F2A0D;
}
#encabezado {
	font-family: 'Muli', sans-serif;
	height: 152px;
	background-color: #FFF;
}
#logoEncabezado {
	background-image: url(../img/logoEN.png);
	height: 127px;
	margin-top: 10px;
}
#tituloUnidad {
	text-align: right;
	font-size: 26px;
	line-height: 12px;
	margin-top: 42px;
	letter-spacing: -1px;
}
#tituloUnidad h1 {
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 1px;
}
#menu {
	height: 48px;
	font-family: 'Muli', sans-serif;
	background-color: #4F2A0D;
}
#menu #actual,
#menu a{
	font-size: 20px;
	text-align: center;
	display: block;
	float: left;
	height: 41px;
	color: #FFF;
	text-decoration: none;
	padding-top: 7px;
}
#breadcrumb {
	font-family: 'Muli', sans-serif;
	color: #FFF;
	font-size: 16px;
}
#breadcrumb span {
	display: block;
	float: left;
	padding-top: 6px;
	margin-right: 12px;
	height: 28px;
}
#breadcrumb span:before {
	content: "";
	background-image: url(../img/separadorBreadcrumb.png);
	width: 28px;
	height: 34px;
	display: block;
	float: left;
	margin-top: -6px;
}
#contenido {
	font-family: 'Muli', sans-serif;
	background-color: #FFF;
	color: #424242;
	font-size: 14px;
	font-weight: 300;
	/* padding-bottom: 22px; */
}
#contenido a:active,
#contenido a:visited {
	color: blue;
}
#tituloGuia {
	text-align: right;
	font-size: 30px;
}
#momentoA,
#momentoB,
#momentoC,
#momentoD,
#tituloGuia {
	font-family: 'Anton', sans-serif;
	font-weight: normal;
	color: #4F2A0D;
}
#momentoA,
#momentoB,
#momentoC,
#momentoD {
	font-size: 36px;
	margin-top: 15px;
	padding-top: 7px;
	height: 61px;
	margin-bottom: 22px;
}
#momentoA:before,
#momentoB:before,
#momentoC:before,
#momentoD:before {
	content: "";
	width: 60px;
	height: 68px;
	display: block;
	float: left;
	margin-left: -10px;
	margin-right: 20px;
	margin-top: -7px;
}
#momentoA:before {
	background-image: url(../img/iconoMomentoA.png);
}
#momentoB:before {
	background-image: url(../img/iconoMomentoB.png);
}
#momentoC:before {
	background-image: url(../img/iconoMomentoC.png);
}
#momentoD:before {
	background-image: url(../img/iconoMomentoD.png);
}
#contenido .fondoIlustrado {
	width: 950px;
	margin-left: 0px;
	padding-left: 10px;
	background-repeat: no-repeat;
}
#contenidoDialogo .resaltado {
	font-weight: bolder;
	font-size: 16px;
}
#dialPersUnidad,
#dialPersGeneral {
	background-color: #E9E9E9;
}
#dialPersUnidad #contenidoDialogo,
#dialPersGeneral #contenidoDialogo {
	padding: 15px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
}
#dialPersUnidad ul,
#dialPersGeneral ul {
	margin-top: -25px;
	padding-right: 15px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
}
#dialPersUnidad img,
#dialPersGeneral img  {
	width: 111px;
	height: 111px;
	margin-right: 10px;
	float: left;
}
#dialPersUnidad strong,
#dialPersGeneral strong {
	display: block;
	font-size: 16px;
	font-weight: bold;
}
#dialPersUnidad #bordeSup,
#dialPersUnidad #bordeInf,
#dialPersGeneral #bordeSup,
#dialPersGeneral #bordeInf {
	width: 100%;
	display: block;
}
#dialPersUnidad #bordeSup,
#dialPersGeneral #bordeSup {
	height: 15px;
}
#dialPersUnidad #bordeInf,
#dialPersGeneral #bordeInf {
	height: 15px;
	margin-top: -20px;
}
#dialPersUnidad #bordeSup:before,
#dialPersUnidad #bordeSup:after,
#dialPersUnidad #bordeInf:before,
#dialPersUnidad #bordeInf:after,
#dialPersGeneral #bordeSup:before,
#dialPersGeneral #bordeSup:after,
#dialPersGeneral #bordeInf:before,
#dialPersGeneral #bordeInf:after {
	content: "";
	width: 10px;
	height: 15px;
	display: block;
}
#dialPersUnidad #bordeSup:before,
#dialPersUnidad #bordeInf:before,
#dialPersGeneral #bordeSup:before,
#dialPersGeneral #bordeInf:before {
	float: left;
}
#dialPersUnidad #bordeSup:after,
#dialPersUnidad #bordeInf:after,
#dialPersGeneral #bordeSup:after,
#dialPersGeneral #bordeInf:after {
	float: right;
}
#dialPersGeneral #bordeSup,
#dialPersGeneral #bordeInf {
	background-color: #4F2A0D;
}
#dialPersGeneral #bordeSup:before {
	background-image: url(../img/dialogoPersonajeGeneralBordeIzqSup.png);
}
#dialPersGeneral #bordeSup:after {
	background-image: url(../img/dialogoPersonajeGeneralBordeDerSup.png);
}
#dialPersGeneral #bordeInf:before {
	background-image: url(../img/dialogoPersonajeGeneralBordeIzqInf.png);
}
#dialPersGeneral #bordeInf:after {
	background-image: url(../img/dialogoPersonajeGeneralBordeDerInf.png);
}
#dialPersGeneral #contenidoDialogo {
	border-right-color: #4F2A0D;
	border-left-color: #4F2A0D;
}
#dialPersGeneral strong {
	color: #4F2A0D;
}
/* Se aplica un reset al h1 y h2 dentro de contenido */
#contenido h1,
#contenido h2,
#notaImportante h1,
#diarioSaberes h1,
#diarioSaberes h2,
#diarioProgreso h1,
#diarioProgreso h2 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
}
#contenido h1 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 16px;
}
#contenido h2 {
	margin-top: 16px;
	margin-bottom: 16px;
}
#notaImportante {
	background-image: url(../img/notaImportanteFondo.png);
	width: 260px;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 18px;
}
#notaImportante h1 {
	font-size: 18px;
	font-weight: normal;
	background-image: url(../img/notaImportanteSup.png);
	padding-left: 40px;
	padding-top: 10px;
	margin-top: -20px;
	margin-left: -10px;
	width: 240px;;
	height: 34px;
	display: block;
}
#notaImportante strong {
	font-weight: normal;
}
#notaImportante img {
	float: left;
	margin-right: 10px;
}
#notaImportante:after {
	content: "";
	background-image: url(../img/notaImportanteInf.png);
	width: 280px;
	height: 27px;
	display: block;
	float: left;
	margin-top: -20px;
	margin-left: -10px;
}
#diarioSaberes,
#diarioProgreso,
#portafolioActividades,
#manualesImplementacion {
	text-decoration: none;
}
#diarioSaberes:hover,
#diarioProgreso:hover,
#manualesImplementacion:hover {
	text-decoration: underline;
}
#diarioSaberes div,
#diarioProgreso div,
#portafolioActividades div,
#manualesImplementacion div {
	background-image: url(../img/cajaVinculoFondo.png);
	width: 180px;
	color: #424242;
	padding-left: 40px;
	margin-top: -42px;
	font-size: 11px;
}
#diarioSaberes h1,
#diarioProgreso h1,
#portafolioActividades h1,
#manualesImplementacion h1 {
	font-size: 15px;
	font-weight: normal;
	background-image: url(../img/cajaVinculoSup.png);
	padding-left: 40px;
	padding-top: 10px;
	margin-left: -40px;
	width: 180px;
	height: 19px;
	line-height: 1em;
}
#diarioSaberes h1:after,
#diarioProgreso h1:after,
#portafolioActividades h1:after,
#manualesImplementacion h1:after {
	content: "";
	width: 54px;
	float: right;
	margin-top: 4px;
	margin-right: 6px;
}
#diarioSaberes h1:after {
	background-image: url(../img/iconoDiarioSaberes.png);
	height: 56px;
}
#diarioProgreso h1:after {
	background-image: url(../img/iconoDiarioProgreso.png);
	height: 56px;
}
#portafolioActividades h1:after {
	background-image: url(../img/iconoPortafolioActividades.png);
	height: 44px;
}
#manualesImplementacion h1:after {
	background-image: ;
	height: ;
}
#diarioSaberes h2,
#diarioProgreso h2,
#portafolioActividades h2,
#manualesImplementacion h2 {
	font-size: 13px;
	text-align: right;
	margin-top: 0px;
}
#diarioSaberes h2:after,
#diarioProgreso h2:after,
#portafolioActividades h2:after,
#manualesImplementacion h2:after {
	content: "";
	width: 6px;
	height: 6px;
	float: right;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
}
#diarioSaberes:after,
#diarioProgreso:after,
#portafolioActividades:after,
#manualesImplementacion:after {
	content: "";
	background-image: url(../img/cajaVinculoInf.png);
	width: 220px;
	height: 11px;
	display: block;
	float: left;
	margin-top: -16px;
}
#contenido ul li {
	list-style-image: url(../img/bulletLista.png);
	font-style: italic;
}
#marcoFoto {
	border: 1px dotted #666;
	width: 100%;
	display: block;
	padding: 4px;
}
#marcoFoto #pieFoto {
	font-style: italic;
	font-size: 10px;
}
#seleccionaPersonaje {
	background-image: url(../img/fondoExteriorEE.jpg);
}
#seleccionaPersonaje #seleccionaIzq,
#seleccionaPersonaje #seleccionaDer {
	background-color: #4f2a0d;
	padding: 10px;
	font-family: 'Muli', sans-serif;
	color: #FFF;
}
#seleccionaPersonaje #seleccionaIzq {
	margin-left: -40px;
	margin-right: 40px;
	text-align: left;
}
#seleccionaPersonaje #seleccionaDer {
	text-align: right;
}
#paginacion {
	height: 36px;
}
#paginacion #actual,
#paginacion #instrucciones,
#paginacion a,
#paginacion #anterior,
#paginacion #siguiente,
#pagDesactivado {
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	display: block;
	float: left;
	margin-top: 3px;
	padding-top: 5px;
	height: 23px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4F2A0D;
	border-bottom-color: #4F2A0D;
	border-left-color: #4F2A0D;
	/* Estilos específicos para algunos, no todos */
	background-image: url(../img/fondoPaginacionUp.png);
	color: #4F2A0D;
}
#paginacion #instrucciones {
	padding-left: 10px;
	padding-right: 10px;
	color: #FFF;
}
#paginacion #actual,
#paginacion a,
#paginacion #anterior,
#paginacion #siguiente,
#pagDesactivado {
	width: 29px;
}
#paginacion #anterior,
#paginacion #siguiente,
#pagDesactivado {
	width: 70px;	
}
#pagDesactivado {
	color: #C9C9C9;
}
#paginacion #actual,
#paginacion a:hover,
#paginacion #anterior:hover,
#paginacion #siguiente:hover {
	color: #000;
}
#paginacion #siguiente {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #4F2A0D;
}
#logos {
	background-color: #FFF;
	background-image: url(../img/logosInf.jpg);
	height: 73px;
	background-repeat: no-repeat;
	background-position: 160px;
	border-bottom-color: #4F2A0D;
	border-bottom-style: solid;
	border-bottom-width: 30px;
}
/* ----------------------> Estilos de la carga iFrame del foro */

#tituloSupDiario,
#contenidoDiario {
	margin:0 auto;
	width:1050px;
	border-right-width: 30px;
	border-left-width: 30px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #4F2A0D;
	border-left-color: #4F2A0D;
}
#tituloSupDiario {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	color: #FFF;
	height: 25px;
	font-size: 14px;
	padding-top: 10px;
	background-color: #4F2A0D;
	text-align:left;
}
#contenidoDiario {
	border-bottom-width: 30px;
	border-bottom-style: solid;
	border-bottom-color: #4F2A0D;
}
#contenidoDiario #retorno {
	text-align:left;
	background-color: #FFFFFF;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#contenidoDiario #retorno a {
	font-family: 'Muli', sans-serif;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	display: block;
	float: left;
	margin-top: 3px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #4F2A0D;
	background-image: url(../img/fondoPaginacionUp.png);
	color: #4F2A0D;
}
#contenidoDiario #retorno a:hover {
	background-image: url(../img/fondoPaginacionDownUnidad1.png);
	color: #FFF;
}