@charset "UTF-8";
/* CSS Document */
#tituloUnidad,
#contenido h1,
#contenido h2,
#notaImportante strong,
.fondoIlustrado strong,
#diarioSaberes h1,
#diarioProgreso h1,
#dialPersUnidad strong {
	color: #990C18;
}
#menu #actual,
#menu a:hover {
	background-image: url(../img/fondoPestanaUnidad1.png);
}
#breadcrumb {
	background-image: url(../img/fondoBreadcrumbUnidad1.png);
	background-repeat: repeat-x;
}
#contenido #MomentoAGuia1 {
	background-image: url(../img/fondoIlustradoPag1Guia1Unidad1.jpg);
	height: 639px;
}
#contenido #MomentoAGuia2 {
	background-image: url(../img/composicionMomentoAGuia2Unidad1.jpg);
	height: 700px;
}
#contenido #MomentoAGuia3 {
	background-image: url(../img/composicionMomentoAGuia3Unidad1.jpg);
	height: 700px;
}
#contenido #MomentoDGuia3 {
	background-image: url(../img/composicionMomentoDGuia3Unidad1.jpg);
	height: 700px;
}
#contenido #MomentoAGuia4 {
	background-image: url(../img/composicionMomentoAGuia4Unidad1.jpg);
	height: 700px;
}
/* Debido a un problema de scope no determinado aún, es necesario definir este color en este CSS
   Será el mismo para la Unidad 2  */
#diarioSaberes h2,
#diarioProgreso h2,
#portafolioActividades h2,
#manualesImplementacion h2 {
	color: #4F2A0D;
}
#diarioSaberes h2:after,
#diarioProgreso h2:after,
#manualesImplementacion h2:after {
	background-image: url(../img/cajaVinculoFlechaUnidad1.png);
}
#dialPersUnidad #bordeSup,
#dialPersUnidad #bordeInf {
	background-color: #990C18;
}
#dialPersUnidad #bordeSup:before {
	background-image: url(../img/dialogoPersonajeUnidad1BordeIzqSup.png);
}
#dialPersUnidad #bordeSup:after {
	background-image: url(../img/dialogoPersonajeUnidad1BordeDerSup.png);
}
#dialPersUnidad #bordeInf:before {
	background-image: url(../img/dialogoPersonajeUnidad1BordeIzqInf.png);
}
#dialPersUnidad #bordeInf:after {
	background-image: url(../img/dialogoPersonajeUnidad1BordeDerInf.png);
}
#dialPersUnidad #contenidoDialogo,
#dialPersUnidad ul {
	border-right-color: #990C18;
	border-left-color: #990C18;
}
#paginacion {
	background-color: #990C18;
}
#paginacion #actual,
#paginacion a:hover,
#paginacion #anterior:hover,
#paginacion #siguiente:hover,
#paginacion #instrucciones {
	background-image: url(../img/fondoPaginacionDownUnidad1.png);
}