@charset "UTF-8";
/* CSS Document */
#tituloUnidad,
#momentoA,
#momentoB,
#momentoC,
#momentoD,
#contenido h1,
#contenido h2,
#notaImportante strong,
#diarioSaberes h1,
#diarioProgreso h1,
#dialPersUnidad strong {
	color: #769700;
}
#menu #actual,
#menu a:hover {
	background-image: url(../img/fondoPestanaUnidad4.png);
}
#breadcrumb {
	background-image: url(../img/fondoBreadcrumbUnidad4.png);
	background-repeat: repeat-x;
}
/* Debido a un problema de scope no determinado aún, es necesario definir este color en este CSS
   Será el mismo para la Unidad 1  */
#diarioSaberes h2,
#diarioProgreso h2,
#portafolioActividades h2,
#manualesImplementacion h2 {
	color: #4F2A0D;
}
#diarioSaberes h2:after,
#diarioProgreso h2:after {
	background-image: url(../img/cajaVinculoFlechaUnidad4.png);
}
#dialPersUnidad #bordeSup,
#dialPersUnidad #bordeInf {
	background-color: #769700;
}
#dialPersUnidad #bordeSup:before {
	background-image: url(../img/dialogoPersonajeUnidad4BordeIzqSup.png);
}
#dialPersUnidad #bordeSup:after {
	background-image: url(../img/dialogoPersonajeUnidad4BordeDerSup.png);
}
#dialPersUnidad #bordeInf:before {
	background-image: url(../img/dialogoPersonajeUnidad4BordeIzqInf.png);
}
#dialPersUnidad #bordeInf:after {
	background-image: url(../img/dialogoPersonajeUnidad4BordeDerInf.png);
}
#dialPersUnidad #contenidoDialogo,
#dialPersUnidad ul {
	border-right-color: #769700;
	border-left-color: #769700;
}
#paginacion {
	background-color: #769700;
}
#paginacion #actual,
#paginacion a:hover {
	background-image: url(../img/pagNumDownUnidad4.png);
}
#paginacion #anterior:hover,
#paginacion #siguiente:hover {
	background-image: url(../img/pagAnteriorDownUnidad4.png);
}