<div id="contenedor">
  <nav oca-barra-horizontal>
    <oca-logo [comprimido]="logoComprimido"
              class="oca-logo"
              (click)="logoComprimido = !logoComprimido">
    </oca-logo>
    <a class="elemento"
       routerLink="/inicio"
       routerLinkActive="activo"
       icono="home">
      Inicio
    </a>
    <a class="elemento"
       routerLinkActive="activo"
       icono="megafono">
      Contácteme
    </a>
  </nav>
  <div oca-selector>
    <a class="selector"
       icono="idioma">
    </a>
    <a class="svg"
       fuente="flags"
       svg="co">
      ES
    </a>
    <a class="svg"
       fuente="flags"
       svg="gb">
      EN
    </a>
  </div>
  <nav oca-barra-vertical
       class="proyectos">
    <a class="elemento"
       icono="github">
      GitHub
    </a>
    <a class="elemento"
       icono="linkedin">
      LinkedIn
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>