<div oca-fondo-animado
     class="inicio">
  <div oca-card>
    <div class="titulo">Oliver Castelblanco</div>
    <img class="foto"
         src="assets/imgs/oliver.jpg">
    <div class="contenido">
      <p>Soy un hacedor. Necesito convertir mi actividad profesional en productos que puedan ser usados; primero como
        diseñador industrial, luego como programador, ahora como desarrollador de productos web.</p>
      <p>Por las mismas razones, soy un aprendiz. Estoy constantemente aprendiendo nuevas formas de hacer las cosas para
        que sean más eficientes, más eficaces y, especialmente, mejor diseñadas para el usuario final.</p>
    </div>
    <div class="accion">
      <a download
         href="assets/docs/Resume_OliverCastelblanco.pdf"
         icono="download">
        Descargar HV
      </a>
    </div>
  </div>
</div>