<div oca-fondo-animado
     class="inicio">
  <div oca-card>
    <div class="titulo">Oliver Castelblanco</div>
    <img class="foto"
         src="assets/imgs/oliver.jpg">
    <div class="contenido"
         [innerHTML]="interfaz.presentacion.textos[idioma] | safe: 'html'">
    </div>
    <div class="accion">
      <ng-container *ngFor="let boton of interfaz.accion">
        <a oca-boton
           icono="download"
           contenido="icono+texto"
           tipo="acento"
           [attr.descarga]="boton.download"
           href="assets/docs/Resume_OliverCastelblanco.pdf">
          <span class="texto"
                [innerHTML]="boton.textos[idioma]">
          </span>
        </a>
      </ng-container>
    </div>
  </div>
</div>