<div oca-fondo-animado
     class="contacteme">
  @if (interfaz.campos.length) {
  <div oca-card
       @arribaAbajo>
    <div class="titulo"
         [innerHTML]="interfaz.titulo[idioma] | safe:'html'">
    </div>
    <div class="contenido">
      <div class="campos">
        @for(campo of interfaz.campos;track campo) {
        <div class="campo">
          <label [for]="campo.nombre"
                 [innerHTML]="textoLabel(campo)">
          </label>
          @if (campo.tipo != 'textarea'){
          <input [type]="campo.tipo"
                 [id]="campo.nombre"
                 [(ngModel)]="datos[campo.nombre]"
                 [placeholder]="campo.placeholder ? campo.placeholder[idioma] : ''"
                 [name]="campo.nombre">
          } @else {
          <textarea cols="30"
                    rows="4"
                    [id]="campo.nombre"
                    [(ngModel)]="datos[campo.nombre]"
                    [placeholder]="campo.placeholder ? campo.placeholder[idioma] : ''"
                    [name]="campo.nombre">
            </textarea>
          }
          @if (!validaCampo(campo).valido) {
          <div class="validaciones">
            @for (validador of validaCampo(campo).validadores; track validador) {
            <div class="validacion"
                 [innerHTML]="validador">
            </div>
            }
          </div>
          }
        </div>
        }
      </div>
    </div>
    <div class="accion">
      @for (accion of interfaz.accion; track accion) {
      <button oca-boton
              [icono]="accion.icono"
              contenido="icono+texto"
              [tipo]="accion.tipo"
              (click)="enviaInfo(accion)">
        <span class="texto"
              [innerHTML]="accion.textos[idioma]">
        </span>
      </button>
      }
    </div>
  </div>
  }
</div>