<div oca-fondo-animado
     class="contacteme">
  @if (interfaz.campos.length) {
  @if (envioMensaje == 'previo' || envioMensaje == 'enviando') {
  <div oca-card
       class="formulario"
       @arribaAbajo>
    <div class="titulo"
         [innerHTML]="interfaz.titulo[idioma] | safe:'html'">
    </div>
    <div class="contenido">
      <div class="campos">
        @for(campo of interfaz.campos;track campo) {
        <div class="campo">
          <label [for]="campo.nombre"
                 [innerHTML]="textoLabel(campo)">
          </label>
          @if (campo.tipo != 'textarea'){
          <input [type]="campo.tipo"
                 [id]="campo.nombre"
                 [(ngModel)]="datos[campo.nombre]"
                 [placeholder]="campo.placeholder ? campo.placeholder[idioma] : ''"
                 [disabled]="envioMensaje == 'enviando'"
                 [name]="campo.nombre">
          } @else {
          <textarea cols="30"
                    rows="4"
                    [id]="campo.nombre"
                    [(ngModel)]="datos[campo.nombre]"
                    [placeholder]="campo.placeholder ? campo.placeholder[idioma] : ''"
                    [disabled]="envioMensaje == 'enviando'"
                    [name]="campo.nombre">
            </textarea>
          }
        </div>
        @if (validaCampo(campo).includes(false)) {
        <ul class="validaciones">
          @for (validador of campo.validadores; track validador) {
          <li class="validacion"
              [innerHTML]="textoValidador(validador)">
          </li>
          }
        </ul>
        }
        }
      </div>
    </div>
    <div class="accion">
      @for (accion of interfaz.accion; track accion) {
      <button oca-boton
              [icono]="envioMensaje == 'enviando' ? 'cargando' : accion.icono"
              contenido="icono+texto"
              [tipo]="accion.tipo"
              [class.inactivo]="!validaEnvio() || envioMensaje == 'enviando'"
              (click)="enviaInfo(accion)">
        <span class="texto"
              [innerHTML]="accion.textos[idioma]">
        </span>
      </button>
      }
    </div>
  </div>
  } @else if (envioMensaje == 'enviado' || envioMensaje == 'error') {
  <div oca-card
       class="mensaje-final"
       @arribaAbajo>
    <div class="titulo"
         [innerHTML]="interfaz.mensajes[envioMensaje].titulo[idioma] | safe: 'html'">
    </div>
    <div class="contenido">
      <oca-icono [icono]="interfaz.mensajes[envioMensaje].icono"
                 [iconos]="_iconos"
                 tamano="3x"
                 class="icono">
      </oca-icono>
      <div class="texto"
           [innerHTML]="interfaz.mensajes[envioMensaje].textos[idioma] | safe: 'html'">
      </div>
    </div>
  </div>
  }
  }
</div>