@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
.celda {
	height: 220px;
	position: relative;
}
.celda #background {
	position: absolute;
	top: 0;
	left: -10px;
	z-index: -9999;
	height: 220px;
}
#contenido {
	position: relative;
}
/* ---------- Estilos de texto de contenido -----*/
#tituloLeccion {
	font-size: 1.8em;
	color:#f58025;
	font-weight: 300;
}
#tituloLeccionCaps {
	font-family: 'Share', cursive;
	font-size: 1.6em;
	color: #333;
	font-weight: 700;
}
#tituloCaps {
	font-family: 'Share', cursive;
	font-size: 2em;
	color: #A3B231;
	font-weight: 400;
	line-height:40px
}
#tituloCaps p,
p#tituloCaps,
#subtitulo p {
	padding-left: 0.5em;
}
#subtitulo {
	font-family: 'Share', cursive;
	font-size: 1.8em;
	color: #333;
	font-weight: 400;
	line-height:30px;
}
#tituloTimeLine1 {
	font-family: 'Share', cursive;
	font-size: 1.5em;
	color:#FFFFFF;
	font-weight: 400;
	text-align:right;
	padding: 0px 6px 6px 12px;
}
#tituloValor1 {
	font-family: 'Share', cursive;
	font-size: 1.5em;
	color:#84102B;
	font-weight: 700;
}
#tituloValor2 {
	font-family: 'Share', cursive;
	font-size: 1.5em;
	color:#F58025;
	font-weight: 700;
}
#tituloValor3 {
	font-family: 'Share', cursive;
	font-size: 1.5em;
	color:#850C70;
	font-weight: 700;
}
#tituloValor4 {
	font-family: 'Share', cursive;
	font-size: 1.5em;
	color:#007164;
	font-weight: 700;
}
#textoValores {
	font-size: 0.8em;
	color:#333;
	font-weight: 400;
	text-align:justify;
}
#textoValores p {
	padding-left: 0.5em;
}
#textoTimeLine1 {
	font-family: 'Share', cursive;
	font-size: 0.8em;
	color:#FFFFFF;
	font-weight: 400;
}
#textoDestacado1 {
	font-family: 'Share', cursive;
	font-size: 1em;
	color: #FFF;
	font-weight: 400;
	line-height:22px;
	padding: 5px 12px 5px 12px;
}
#textoDestacado2 {
	font-family: 'Share', cursive;
	font-size: 1em;
	color: #84102B;
	font-weight: 400;
	padding: 5px 5px 5px 5px;
	line-height:20px;
}
#textoDestacado2 a {
	background-image: url(../img/PCC_FondoDestacado2-a.png)
}
#textoDestacado3 {
	font-family: 'Share', cursive;
	font-size: 1.2em;
	color:#F58025;
	font-weight: 400;
	line-height:24px;
}
#textoDestacado4 {
	font-family: 'Share', cursive;
	font-size: 0.94em;
	color: #FFF;
	font-weight: 400;
	line-height:18px;
	padding: 45px 0px 0px 0px;
}
#textoContenido{
	font-size: 1em;
	color: #707070;
	font-weight: 400;
	text-align:justify;
	line-height:20px;
}
#textoContenido2{
	font-size: 1em;
	color: #707070;
	font-weight: 400;
	text-align:left;
	line-height:20px;
}
#textoPersonaje{
	font-family: 'Share', cursive;
	font-size: 1.2em;
	color: #fff;
	font-weight: 400;
	text-align:justify;
	line-height:22px;
	padding: 12px 60px 12px 280px;
}
#navlist {
	font-size: 1em;
	color: #707070;
	font-weight: 400;
  	line-height: 25px;
	padding-left: 0px;
}
#navlist ul {
	list-style-image: url("../img/li.gif");
}

#pieFoto{
	font-family: 'Share', cursive;
	font-size: 0.8em;
	color: #707070;
	font-weight: 400;
}
#pieFoto p {
	padding-left: 3px; 
	padding-right: 3px;
}
/*________estilos tablas________________________________________________________*/

td.titulo {
	font-family: 'Share';
    color:#FFFFFF;
	font-size: 0.9em;
	padding: 6px 6px 6px 12px;
	text-align: center;
	border-left: 1px solid #C1D82F;
	border-top: 1px solid #C1D82F;
	background: #fff url(../img/bg_header.jpg);
	vertical-align:middle;
}
td.subtitulo {
	font-family: Share;
	color:#FFFFFF;
	font-size: 18px;
	padding: 6px 6px 6px 12px;
	text-align: center;
	border-left: 1px solid #C1D82F;
	border-top: 1px solid #C1D82F;
	vertical-align:middle;
	line-height: 16px;
}
td.titulo2 {
	font-family: 'Share', cursive;
    color:#FFFFFF;
	font-size: 0.8em;
	padding: 6px 6px 6px 12px;
	text-align: center;
	border-left: 1px solid #C1D82F;
	border-top: 1px solid #C1D82F;
	background: #A3B231;
	vertical-align:middle;
}
td.titulo3 {
	font-family: 'Share', cursive;
    color:#333;
	font-size: 0.8em;
	text-align: center;
	border-left: 1px solid #A3B231;
	border-top: 1px solid #A3B231;
	background:#C1D82F;
	line-height:15px;
	vertical-align:middle;
}

td.color1 {
	font-size: 0.8em;
	color: #4f6b72;
	padding: 6px 6px 6px 12px;
	border-left: 1px solid #C1D82F;
	border-top: 1px solid #C1D82F;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff url(../img/bullet1.gif) no-repeat;
	vertical-align:middle;
}

td.color2 {
	font-size: 0.8em;
	color: #4f6b72;
	padding: 6px 6px 6px 12px;
	border-left: 1px solid #C1D82F;
	border-top: 0px;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #F9FBEA url(../img/bullet2.gif) no-repeat;
	vertical-align:middle;
}
table#areaPpalPCC .color1,
table#areaPpalPCC .color2 {
	text-align: right;
}
/*________________________________________________________________*/

a:link {color:#A3B231;}    
a:visited {color:#f58025;} 

/* ----- Elementos del pie de página ---- */
#pie {
	background-color: #c5c5c7;
	margin-top: 9px;
	width: 956px;
	height: 26px;
}
#pie #numLeccion {
	text-align: left;
	padding-top: 3px;
	font-size: 14px;
}
#pie #flechas {
	text-align: center;
}
#pie #numPagina {
	text-align: right;
	display: block;
	float: right;
	width: 296px;
}
/* --- Paso de página a página y selector --- */
#pagAtras,
#pagSiguiente {
	text-decoration: none;
	color: rgb(0,0,0);
	display: block;
	width: 45%;
}
#pagAtras {
	float: left;
}
#pagSiguiente {
	float: right;
}
#pagSiguiente span,
#pagSiguiente img {
	display: block;
	float: right;
}
#pagAtras span,
#pagAtras img {
	display: block;
	float: left;
}
#pagAtras span {
	margin-left: 1em;
}
#pagAtras:hover,
#pagSiguiente:hover {
	text-decoration: underline;
}
#pagSiguiente span {
	margin-right: 1em;
}
#pagSelector {
	width: 10%;
	display: block;
	float: left;
}
#pagSelector img {
	padding-bottom: 2px;
}
/* --- Selector que aparece y desaparece --- */
#selector-contenedor {
	position: absolute;
	height: 81px;
	z-index: 9999;
}
#selector-botonCerrar {
	display: block;
	text-align: right;
	height: 20px;
}
#selector-cuerpoSelector {
	display: block;
	float: left;
}
#selector-inicio {
	display: block;
	float: left;
}
#selector-final {
	display: block;
	float: right;
}
#selector-bordeSuperior {
	display: block;
	float: left;
	height: 8.06%;
	background-color: #cccccc;
}
#selector-bordeSuperior img {
	display: block;
	float: right;
}
#selector-botonesPaginas {
	display: block;
	float: left;
}
#selector-botonesPaginas a,
#selector-pagActual {
	display: block;
	float: left;
	color: rgb(0,0,0);
	text-decoration: none;
	text-align: center;
	position: relative;
	padding-top: 9px;
	width: 28px;
	height: 33px;
}
#selector-botonesPaginas #background,
#selector-pagActual #background {
	display: block;
	float: left;
	position: absolute;
	top: 0%;
	z-index: -9999;
}
#selector-interPags {
	display: block;
	float: left;
	width: 7px;
	height: 45px;
	background-color: #cccccc;
}

/*  Las img que se usan dentro del Selector*/
#selector-botonCerrar img {
	margin-top: -8px;
	height: 20px;
}
#selector-inicio img {
	width: 11px;
	height: 49px;
}
#selector-final img {
	width: 9px;
	height: 49px;
}
#selector-bordeSuperior img {
	width: 36px;
	height: 4px;
}
#selector-botonesPaginas a img,
#selector-pagActual img {
	width: 28px;
	height: 45px;
}

/* ----------------------- Menú móvil --------------- */
#accionPCC {
	position: relative;
	z-index: 99;
}
#accionPCC a {
	display: block;
}
#menuPpal {
	position: absolute;
	color: rgb(255,255,255);
	background-color: rgb(238,128,40);
	z-index: 999;
}
#menuSec {
	background-color: rgb(163,178,49);
	z-index: 9999;
}
#menuPpal,
#menuSec {
	width: 240px;
	height: 220px;
	float: left;
	display: block;
}
#menuPpal #numeroModulo {
	float: right;
}
#menuPpal a,
#menuSec a {
	font-size: 18px;
	margin-left: 16px;
	display: block;
	color: rgb(255,255,255);
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(255,255,255);
	height: 22px;
	padding-bottom: 3px;
	padding-top: 1px;
}
#menuPpal > span:first-child,
#menuSec > span:first-child {
	display: block;
	visibility: hidden;
	padding-top: 64px;
}
#menuPpal #flecha {
	float: right;
	margin-top: 4px;
	margin-right: 3px;
}
#numeroModulo {
	font-size: 56px;
	font-weight: 700;
	position: absolute;
	top: -5px;
	right: 0em;
}
#tituloModulo {
	font-size: 1.7em;
	font-weight: 300;
	position: absolute;
	top: 0.9em;
	right: 1.5em;
}
.vinculoOprimido {
	margin-left: 500px;
	background-color: rgb(163,178,49);
	border-bottom-color: rgb(163,178,49);
	border-top-style: solid;
	border-top-color: rgb(163,178,49);
}
.leccionOprimido {
	margin-left: 500px;
	background-color: rgb(238,128,40);
	border-top-color: rgb(238,128,40);
	/*
	background-color: rgb(163,178,49);
	border-bottom-color: rgb(163,178,49);
	border-top-style: solid;
	border-top-color: rgb(163,178,49);
	*/
}
/* -------------------------------------------------- Estilos especiales para el IE7 --------*/
.ie7 #selector-pagActual img,
.ie7 #selector-botonesPaginas img {
	  margin-left: -23px;
}
.ie7 #selector-pagActual,
.ie7 #selector-botonesPaginas {
	background-color: #cccccc;
}
.ie7 #selector-botonCerrar img {
	margin-top: 0px;
}
.ie7 #flechas a {
	cursor: pointer;
}











/* -------------------------------------------------- */
