@use "sass:math";
@use "./color" as color;
@use "./variables" as var;
@use "./typo" as typo;

$barra-md-alto: 70px;
$barra-padding: var.$cn-padding-md;
$barra-max-width: 1024px;
$barra-min-width: 780px;
$barra-margen: 20px;

.barra {
  z-index: 9;
  display: flex;
  &.horizontal {
    justify-content: center;
    .barra-wrapper {
      height: $barra-md-alto;
      margin: $barra-margen;
      padding: $barra-padding;
      gap: 16px;
      @include color.fondo-transparente("primario");
      @media (min-width: var.$br-min-md) {
        max-width: $barra-max-width;
        min-width: $barra-min-width;
        a.elemento {
          padding: 0 14px;
          span.texto {
            font-size: typo.$lg-size;
            margin-left: 10px;
          }
        }
      }
      @media (max-width: var.$br-max-xs) {
        .oca-logo {
          display: none;
        }
        a.elemento {
          width: 50px;
          span.texto {
            display: none;
          }
        }
      }
    }
  }
  &.vertical {
    .barra-wrapper {
      flex-direction: column;
      gap: 8px;
      padding: math.div($barra-padding, 2);
      @include color.fondo-transparente("blanco");
      a.elemento {
        position: relative;
        width: 50px;
        span.texto {
          display: none;
          position: absolute;
          padding: 6px 8px;
          left: 60px;
          border-radius: 4px;
          @include color.fondo-transparente("primario");
        }
        &:hover {
          span.texto {
            display: inline-block;
            animation: 300ms 1 normal slidein;
          }
        }
      }
    }
  }
  .barra-wrapper {
    display: flex;
    align-items: center;
    border-radius: math.div($barra-md-alto, 2);
    @include color.borde("blanco");
    @include color.sombra("drop");
    a.elemento {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      border-radius: 25px;
      @include color.fondo-transparente("blanco");
      &:link,
      &:visited,
      &:active {
        text-decoration: none;
        color: color.$gris-900;
      }
      &:hover:not(.activo) {
        @include color.fondo-transparente("primario");
      }
      &.activo {
        @include color.sombra("inset");
        cursor: auto;
      }
    }
  }
}
@keyframes slidein {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
