@use "./color" as color;
@use "./variables" as var;
@use "./typo" as typo;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper-overlay {
    z-index: 92;
    pointer-events: all;
    @include color.fondo-transparente("primario-dark");
    @include color.borde("primario");
    @include color.sombra("drop");
    border-radius: 25px;
    @media (max-width: var.$br-max-2xs) {
      width: 100vw;
      max-height: 100vh;
      border-radius: 0;
    }
    @media (max-width: var.$br-max-xs) AND (min-width: (var.$br-max-2xs + 1)) {
      width: calc(100vw - 64px);
      max-height: calc(100vh - 64px);
    }
    @media (min-width: var.$br-min-md) {
      width: fit-content;
      max-height: 80vh;
      max-width: 820px;
    }
  }
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(color.$gris-900, 0.75);
    z-index: 91;
    pointer-events: all;
  }
}
