@use "./color" as color;
@use "./variables" as var;
@use "./typo" as typo;

.oca-selector {
  width: fit-content;
  .selector-wrapper {
    display: flex;
    flex-direction: column;
    @include color.fondo-transparente("blanco");
    @include color.borde("blanco");
    @include color.sombra("drop");
    border-radius: 25px;
    & > *:not(.enlaces),
    .enlaces > .svg {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      width: 80px;
      height: 42px;
      padding: 4px 12px;
      border-radius: 25px;
      &:hover {
        @include color.fondo-transparente("primario");
      }
    }
    .selector {
      .oca-icono-selector {
        .icono {
          font-size: 16px;
          width: 24px;
          height: 24px;
        }
      }
      &.desplegado {
        .oca-icono-selector {
          .icono {
            transform: rotate(180deg);
          }
        }
      }
    }
    .enlaces {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .svg {
        .img-svg {
          width: auto;
          height: 18px;
        }
      }
    }
  }
}
