$typo-primaria: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typo-especial: "Viga", "Helvetica Neue", Helvetica, Arial, sans-serif;
$regular-size: 16px;
$lg-size: 24px;
$icon-xs-size: 20px;
$icon-md-size: 28px;
$icon-lg-size: 36px;
$icon-3x-size: 64px;

@mixin alcance($alcance) {
  @if $alcance == "body" {
    font-family: $typo-primaria;
    font-size: $regular-size;
    font-weight: 400;
  }
  @if $alcance == "card-title" {
    font-family: $typo-primaria;
    font-size: $lg-size;
    font-weight: 800;
  }
  @if $alcance == "boton" {
    font-family: $typo-primaria;
    font-size: $regular-size;
    font-weight: 700;
    line-height: 1.2;
  }
}
