@charset "utf-8";
/* Importaciones iniciales */
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
@import url(reset.css);
@import url(text.css);

body {
	background-image: url(../img/fondoTotal.jpg);
}
.invisible {
	visibility: hidden;
}
#salida {
	display: none;
}
#header,
#contenido,
#footer {
	background-image: url(../img/fondoContenido.jpg);
	border-right-width: 10px;
	border-left-width: 10px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #25aae1;
	border-left-color: #25aae1;
}
#logoOC {
	background-repeat: no-repeat;
}
#logoOC.no-fontface #nombre {
	background-repeat: no-repeat;
	width: 100%;
	height: 5em;
	margin-left: 8em;
	padding-bottom: 1em;
}
#menu #botones {
	background-color: #2b394b;
	height: 6em;
}
#menu a {
	display: block;
	width: 6.4em;
	height: 2em;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 2.5em;
	font-style: italic;
	font-weight: 700;
	padding-top: 0.4em;
	float: left;
	background-color: #2b394b;
}
#menu a:hover {
	background-color: #506176;
}
#menu a:first-child {
	margin-left: 0.4em;
}
#contenido .thumb {
	margin-bottom: 3em;
}
#contenido .thumb a {
	display: block;
	text-decoration: none;
	width: 30em;
	height: 18em;
	background-repeat: no-repeat;
	-moz-box-shadow: inset 0 0 2px #000000;
	-webkit-box-shadow: inset 0 0 2px #000000;
	box-shadow: inset 0 0 2px #000000;
}
#contenido .thumb a:hover {
	-moz-box-shadow: 0 0 5px #000000;
	-webkit-box-shadow: 0 0 5px #000000;
	box-shadow: 0 0 5px #000000;
}
#contenido .thumb #texto.cerrado {
	background: rgba(80, 97, 118, 0.75);
	color: #FFF;
	height: 4em;
	position: relative;
	top: 14em;
}
#contenido .thumb #texto.abierto {
	background: rgba(80, 97, 118, 0.75);
	color: #FFF;
	height: 18em;
	position: relative;
	top: 0em;
}
#contenido .thumb #texto #indicador {
	width: 0; 
	height: 0; 
	border-top: none;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0.5em solid white;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 0.75em;
}
#contenido .thumb #texto #titulo.cerrado {
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	margin-top: -0.25em;
}
/* Trucos para Internet Explorer */
.ie7 #contenido .thumb #texto #titulo.cerrado,
.ie8 #contenido .thumb #texto #titulo.cerrado,
.ie9 #contenido .thumb #texto #titulo.cerrado {
	margin-top: 0.25em;
}
.oldie #contenido .thumb #texto {
	background-color: #666;
}
#contenido .thumb #texto #titulo.abierto {
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	padding-top: 2em;
}
#contenido .thumb #texto #cliente {
	font-size: 1.25em;
	padding-left: 2em;
	padding-top: 1.5em;
}
#contenido .thumb #texto #cliente:before {
	content: "Client: ";
}
#contenido .thumb #texto #fecha {
	font-size: 1.25em;
	padding-left: 2em;
	padding-top: 0.25em;
}
#contenido .thumb #texto #fecha:before {
	content: "Date: ";
}
#contenido .thumb #texto #tipo {
	font-size: 1.25em;
	padding-left: 2em;
	padding-top: 0.25em;
}
#contenido .thumb #texto #tipo:before {
	content: "Type: ";
}
.lightbox {
    background: rgba(0, 0, 0, 0.5);
	font-family: 'Vollkorn', serif;
	color: white;
	font-size: 14px;
}
.lightbox-block {
	height: 600px;
	width: 680px;
	position: absolute;
	background-color: #FFFFFF;
	background-image: url(../img/fondoContenido.jpg);
	border-right-width: 10px;
	border-left-width: 10px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #25aae1;
	border-left-color: #25aae1;
	overflow: auto;
}
.lightbox #close {
    display: block;
    background: url(../img/cross.png) no-repeat;
    width: 30px;
    height: 30px;
    position: fixed;
	margin-left: 625px;
	margin-top: 10px;
    cursor: pointer;
	z-index: 99999;
}
.lightbox #titulo {
	font-size: 24px;
	font-weight: bold;
	color: #25aae1;
	padding-left: 10px;
	padding-top: -10px;
	padding-bottom: 10px;
	position: fixed;
	z-index: 9999;
	background-image: url(../img/fondoContenido.jpg);
	width: 650px;
}
.lightbox #portaSlider {
	padding-top: 50px;
}
.lightbox #portaSlider>div {
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #2b394b;
	overflow: hidden;
}
.lightbox #sep {
	width: 100%;
	height: 10px;
	background-color: #506176;
	margin-top: 10px;
}
.lightbox #rol span,
.lightbox #desc span,
.lightbox #tipo span,
.lightbox #cliente span,
.lightbox #fecha span {
	color: #25aae1;
	font-weight: bold;
}
.lightbox #rol,
.lightbox #desc,
.lightbox #tipo,
.lightbox #cliente,
.lightbox #fecha {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	background-color: #2b394b;
	line-height: 14px;
}
#footer #bordeSup {
	background-color: #506176;
	height: 1em;
	border-right-width: 10px;
	border-left-width: 10px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #506176;
	border-left-color: #506176;
	margin-left: 0px;
}
#footer #cont {
	background-color: #2b394b;
	border-right-width: 10px;
	border-left-width: 10px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #2b394b;
	border-left-color: #2b394b;
	margin-left: 0px;
	margin-right: 0px;
	color: #FFF;
	padding-top: 1em;
}
#footer #cont li a,
#footer #cont li a:visited,
#footer #cont li a:active {
	color: #25aae1;
	text-decoration: none;
	font-size: 1.6em;
}
#footer #cont li a:hover {
	text-decoration: underline;
}
#footer p {
	font-size: 1.6em;
	margin-top: 1em;
}
#footer #titulo {
	font-style: italic;
	font-weight: bold;
	font-size: 2.4em;
}