// Estilos personalizados
@charset "UTF-8";
// Tipografias de Google Fonts
@import "https://fonts.googleapis.com/css?family=Montserrat|Viga";
// Tipografias aplicadas
$tipo-contenido: 'Montserrat', sans-serif !important;
$tipo-titulos: 'Viga', sans-serif !important;
$tipo-md-iconos: 'Material Icons' !important;
// Paleta de colores
$color-primario: #039be5;
$color-primario-dark: #006db3;
$color-primario-light: #63ccff;
$color-secundario: #ef6c00;
$color-secundario-dark: #b53d00;
$color-secundario-light: #ff9d3f;
$color-blanco: #ffffff;
$color-negro: #000000;
$color-gris: #979797;
// Breakpoints
$bp-xs: 600px;
$bp-sm: 959px;
$bp-md: 1279px;
$bp-lg: 1919px;
$bp-xl: $bp-lg + 1;
$bp-gt-xs: $bp-xs + 1;
$bp-gt-sm: $bp-sm + 1;
$bp-gt-md: $bp-md + 1;
$bp-gt-lg: $bp-xl;
// Medidas base
$m1: 4px;
$m2: $m1 * 2;
$m3: $m1 * 3;
$m4: $m1 * 4;
$m5: $m1 * 5;
$m6: $m1 * 6;
$m7: $m1 * 7;
$m8: $m1 * 8;
$m9: $m1 * 9;
$m10: $m1 * 10;
$m11: $m1 * 11;
$m12: $m1 * 12;
$m13: $m1 * 13;
$m14: $m1 * 14;
$m15: $m1 * 15;
$m16: $m1 * 16;
// Variables del logo
$logo-height: 48px;
$logo-height-lg: 64px;
$logo-height-xs: 32px;
$logo-padding: 0 6px;
$logo-padding-lg: 0 8px;
$logo-padding-xs: 0 4px;
$logo-border-radius: 24px;
$logo-border-radius-lg: 32px;
$logo-border-radius-xs: 16px;
$logo-font-size: 36px;
$logo-font-size-lg: 48px;
$logo-font-size-xs: 24px;
$logo-width-liver: 71px;
$logo-width-liver-lg: 95px;
$logo-width-liver-xs: 47px;
$logo-width-astelblanco: 187px;
$logo-width-astelblanco-lg: 250px;
$logo-width-astelblanco-xs: 125px;
// Variables de encabezado
$alto-encabezado-sm: 260px;
$alto-encabezado-gt-sm: 438px;
// Variables de portfolio
$ancho-fichas-gt-sm: $bp-sm + 11;
$diametro-circulo: 220px;
// Contenedor principal
.contenedor {
    font-family: $tipo-contenido;
    height: inherit;
// Estilos generales del contenedor
    .md-button {
        font-family: $tipo-titulos;
    }
// Preloader
    .preloader {
        display: flex;
        justify-content: center;
        background-color: $color-primario;
        position: absolute;
        z-index: 99999;
        top: -438px;
        left: 0;
        @include logo();
    }
    // Contenido
    .contenido {
        // Encabezado
        .encabezado {
            .fondo-header {
                @media (max-width: $bp-xs) {
                    display: none;
                }
                @media (min-width: $bp-gt-xs) {
                    position: fixed;
                    width: 100%;
                    background-origin: content-box;
                    background-position: 0% 100%;
                    top: 0;
                    left: 0;
                    @media (max-width: $bp-sm) {
                        height: $alto-encabezado-sm;
                    }
                    @media (min-width: $bp-gt-sm) {
                        height: $alto-encabezado-gt-sm;
                    }
                    div {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .fondo {
                        background-position: 0% 55%;
                        background-size: cover;
                    }
                    .overlay {
                        background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(0,0,0,0.2)), color-stop(0.3, rgba(0,0,0,0.1)), to(rgba(0,0,0,0)));
                        background: -webkit-linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0) 100%);
                        background: -moz-linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0) 100%);
                        background: -o-linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0) 100%);
                        background: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0) 100%);
                    }
                }
            }
            .navbar {
                padding: $m2 $m4;
                position: fixed;
                top: 0;
                left: 0;
                min-width: 100%;
                z-index: 9999;
                @media (min-width: $bp-gt-sm) {
                    background-color: transparent;
                }
                @media (max-width: $bp-sm) {
                    background-color: $color-primario;
                    box-shadow: 0px 0px 1px 0px $color-negro;
                }
                .fondo {
                    background-color: $color-primario;
                    width: 100%;
                    height: $m16;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    @media (min-width: $bp-gt-xs) {
                        opacity: 0;
                    }
                    @media (max-width: $bp-xs) {
                        opacity: 1;
                    }
                }
                .logo {
                    height: $logo-height;
                    padding: $logo-padding;
                    border-radius: $logo-border-radius;
                    font-size: $logo-font-size;
                    background-color: $color-primario-dark;
                    font-family: $tipo-titulos;
                    color: $color-blanco;
                    overflow: hidden;
                    text-transform: uppercase;
                    float: left;
                    div {
                        float: left;
                        overflow: hidden;
                        margin: 0;
                        &:last-of-type {
                            margin-left: -0.22em;
                        }
                    }
                }
                .md-nav-bar {
                    border: 0;
                    .md-button {
                        font-family: $tipo-titulos;
                        &.md-unselected {
                            color: $color-blanco;
                        }
                    }
                }
            }
        }
        // Footer
        .footer {
            footer {
                margin-top: $m9;
                .md-toolbar-tools {
                    width: $ancho-fichas-gt-sm + $m4;
                    .md-icon-button {
                        overflow: visible;
                        width: 100%;
                        md-icon {
                            float: left;
                            font-size: $m6;
                            margin-right: $m1;
                        }
                        .titulo {
                            overflow: hidden;
                            position: relative;
                            height: $m4;
                            span {
                                display: block;
                                position: absolute;
                                top: 0;
                                @include animation('0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1 forwards cierra');
                            }
                        }
                        &:hover {
                            .titulo {
                                span {
                                    @include animation('0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards abre');
                                }
                            }
                        }
                    }
                }
            }
        }
        // Portfolio
        &.portfolio {
            background-color: $color-primario;
        }
        .portfolio {
            background-color: $color-primario;
            position: relative;
            @media (min-width: $bp-gt-xs) and (max-width: $bp-sm) {
                margin-top: $alto-encabezado-sm;
            }
            @media (min-width: $bp-gt-sm) {
                margin-top: $alto-encabezado-gt-sm;
            }
            .card-principal {
                display: block;
                padding: $m6;
                width: $ancho-fichas-gt-sm;
                @media (max-width: $bp-xs) {
                    margin-top: $m14;
                }
                @media (min-width: $bp-gt-sm) {
                    margin-top: ($m16 * -1);
                }
                .imagen-circulo {
                    width: $diametro-circulo + 1;
                    height: $diametro-circulo + 1;
                    border-radius: 50%;
                    border: 1px solid rgba(0,0,0,0.4);
                    padding: 1px;
                    overflow: hidden;
                    position: relative;
                    img {
                        width: $diametro-circulo;
                        height: $diametro-circulo;
                        border-radius: 50%;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: $diametro-circulo;
                        height: $diametro-circulo;
                        margin: 1px;
                        border-radius: 50%;
                        background-image: -webkit-linear-gradient(-90deg, rgba(2,155,229,0.20) 0%, rgba(239,108,0,0.20) 100%);
                        background-image: -moz-linear-gradient(-90deg, rgba(2,155,229,0.20) 0%, rgba(239,108,0,0.20) 100%);
                        background-image: -o-linear-gradient(-90deg, rgba(2,155,229,0.20) 0%, rgba(239,108,0,0.20) 100%);
                        background-image: linear-gradient(-90deg, rgba(2,155,229,0.20) 0%, rgba(239,108,0,0.20) 100%);
                    }
                }
                .intro {
                    .titulo {
                        font-family: $tipo-titulos;
                        font-size: 36px;
                        color: $color-primario;
                        margin-left: 16px;
                    }
                }
            }
            .titulo-seccion {
                color: $color-blanco;
                font-family: $tipo-titulos;
                width: $ancho-fichas-gt-sm;
                margin: $m8 0 $m4 0;
            }
            .fichas {
                width: $ancho-fichas-gt-sm + $m4;
                .ficha {
                    @include ng-fade_cruzado(0.5s,linear);
                    .imagen-16-9 {
                        display: block;
                        width: 100%;
                        position: relative;
                        height: 0;
                        padding: 56.25% 0 0 0;
                        overflow: hidden;
                        >img {
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: auto;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            margin: 0;
                        }
                    }
                    .md-subhead {
                        color: $color-gris;
                        padding-top: 0;
                    }
                    .cliente {
                        >span:first-of-type {
                            font-weight: bold;
                        }
                    }
                    .descripcion {
                        margin-top: $m3;
                        >span:first-of-type {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        // Galeria fotografica
        &.photos {
            background-color: $color-primario;
        }
        .photos {
            background-color: $color-primario;
            position: relative;
            @media (min-width: $bp-gt-xs) and (max-width: $bp-sm) {
                margin-top: $alto-encabezado-sm;
            }
            @media (min-width: $bp-gt-sm) {
                margin-top: $alto-encabezado-gt-sm;
            }
            figcaption {
                font-family: $tipo-titulos;
            }
            .content {
                width: 100%;
                @media (max-width: $bp-xs) {
                    margin-top: $m14;
                    width: 100%;
                }
                @media (min-width: $bp-gt-sm) {
                    margin-top: ($m16 * -1);
                    width: $ancho-fichas-gt-sm;
                    min-height: $alto-encabezado-gt-sm;
                }
                .barra {
                    h2 {
                        font-family: $tipo-titulos;
                        &.titulo-general {
                            opacity: 1;
                        }
                        &.titulo-album {
                            opacity: 0;
                            position: absolute;
                            left: $m16 + $m11;
                        }
                    }
                    .visible {
                        @include animation('2s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1 forwards fade-in');
                    }
                    .invisible {
                        @include animation('2s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1 forwards fade');
                    }
                }
                .lista {
                    padding-top: $m4;
                    .album,
                    .foto {
                        background-size: cover;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        @include animation('1.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1 forwards fade-in-md');
                        &.fade-out {
                            @include animation('1.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1 forwards fade-out-md');
                            &.modoFoto {
                                display: none;
                            }
                        }
                        &.a-toolbar {
                            @include animation('1s cubic-bezier(0.680, -0.550, 0.265, 1.550) 1s 1 forwards a-toolbar-md');
                            >figure {
                                @include animation('1s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1 forwards fade');
                            }
                        }
                    }
                    &.con-padding {
                        @include animation('1.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1 forwards con-padding');
                    }
                    &.sin-padding {
                        @include animation('1.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) 1s 1 forwards sin-padding');
                    }
                    &.fotos {
                        @include ng-fade(1.5s,0.5s,linear);
                    }
                }
                .porta-foto {
                    cursor: pointer;
                    margin: $m4 0;
                    position: absolute;
                    top: $m16;
                    img {
                        max-width: 100%;
                    }
                    figcaption {
                        position: absolute;
                        top: 0;
                        background-color: rgba(0,0,0,0.18);
                        color: $color-blanco;
                        width: 100%;
                        height: $m8;
                        padding-left: $m2;
                        padding-top: $m2;
                        md-icon {
                            color: $color-blanco;
                        }
                    }
                    @include ng-fade_cruzado(1.5s,linear);
                }
            }
        }
        // Blogs
        &.blogs {
            background-color: $color-primario;
        }
        .blogs {
            background-color: $color-primario;
            position: relative;
            @media (min-width: $bp-gt-xs) and (max-width: $bp-sm) {
                margin-top: $alto-encabezado-sm;
            }
            @media (min-width: $bp-gt-sm) {
                margin-top: $alto-encabezado-gt-sm;
            }
            .content {
                width: 100%;
                @media (max-width: $bp-xs) {
                    margin-top: $m14;
                    width: 100%;
                }
                @media (min-width: $bp-gt-sm) {
                    margin-top: ($m16 * -1);
                    width: $ancho-fichas-gt-sm;
                    min-height: $alto-encabezado-gt-sm;
                    overflow: hidden;
                }
                .barra {
                    .md-toolbar-tools {
                        .md-icon-button,
                        .titulo-blog,
                        .titulo-general {
                            font-family: $tipo-titulos;
                            @include ng-fade_cruzado(1.5s,linear);
                        }
                        .titulo-general {
                            position: absolute;
                        }
                    }
                }
                .lista-blogs {
                    @include ng-fade_cruzado(1.5s,linear);
                    .card-blog {
                        .md-headline {
                            font-family: $tipo-titulos;
                        }
                    }
                }
                .blog-binario {
                    .fondo {
                        @media (max-width: $bp-xs) {
                            display: none;
                        }
                        @media (min-width: $bp-gt-xs) {
                            background-position: 80% 0%;
                            background-size: 130%;
                            background-repeat: no-repeat;
                            position: absolute;
                        }
                    }
                    .overlay {
                        position: absolute;
                        width: 100%;
                        height: $m16 * 3;
                        background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(0,0,0,0.6)), color-stop(0.3, rgba(0,0,0,0.3)), to(rgba(0,0,0,0)));
                        background: -webkit-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%);
                        background: -moz-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%);
                        background: -o-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%);
                        background: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%);
                    }
                    .lista-entradas {
                        position: relative;
                        z-index: 99;
                        .west-side,
                        .east-side {
                            h2 {
                                color: #fff;
                                font-family: $tipo-titulos;
                                margin-right: $m2;
                                margin-left: $m2;
                                @media (max-width: $bp-xs) {
                                    font-size: $m4;
                                }
                            }
                        }
                        .west-side {
                            h2 {
                                text-align: right;
                            }
                        }
                    }
                }
                .lista-entradas {
                    @include ng-fade_cruzado(1.5s,linear);
                    .card-post {
                        .media {
                            position: relative;
                            img {
                                box-sizing: border-box;
                                display: flex;
                                flex: 0 0 auto;
                                width: 100%;
                                height: auto;
                            }
                            .icon {
                                position: absolute;
                                right: $m1;
                                bottom: $m1;
                                color: #fff;
                                text-shadow: #000 1px 1px 1px;
                            }
                        }
                        .md-headline {
                            font-family: $tipo-titulos;
                        }
                        .contenido {
                            max-height: 4em;
                            overflow: hidden;
                            //white-space: nowrap;
                            text-overflow: ellipsis;
                            word-wrap: break-word;
                            line-height: 1em;
                        }
                    }
                }
                .entrada {
                    @include ng-fade_cruzado(1.5s,linear);
                    padding: $m4;
                    .titulo {
                        font-family: $tipo-titulos;
                        text-align: center;
                    }
                    .contenido {
                        img {
                            &.right {
                                float: right;
                                margin-left: $m4 !important;
                            }
                            &.left {
                                float: left;
                                margin-right: $m4 !important;
                            }
                        }
                    }
                }
            }
        }
        // Contact me
        &.contact-me {
            background-color: $color-primario;
            .footer {
                footer {
                    margin-top: 0;
                }
            }
        }
        .contact-me {
            background-color: $color-primario;
            position: relative;
            @media (min-width: $bp-gt-xs) and (max-width: $bp-sm) {
                margin-top: $alto-encabezado-sm;
            }
            @media (min-width: $bp-gt-sm) {
                margin-top: $alto-encabezado-gt-sm;
            }
            .content {
                width: 100%;
                @media (max-width: $bp-xs) {
                    margin-top: $m14;
                    width: 100%;
                }
                @media (min-width: $bp-gt-sm) {
                    margin-top: ($m16 * -1);
                    width: $ancho-fichas-gt-sm;
                    min-height: $alto-encabezado-gt-sm;
                    overflow: hidden;
                }
                .barra {
                    .md-toolbar-tools {
                        .titulo-general {
                            position: absolute;
                            font-family: $tipo-titulos;
                            @include ng-fade_cruzado(1.5s,linear);
                        }
                    }
                }
                .formulario {
                    padding: $m12;
                    @include ng-fade_cruzado(0.5s,ease-out);
                }
                .gracias {
                    @include ng-fade_cruzado(0.5s,ease-out);
                    background-color: $color-primario;
                    min-height: $alto-encabezado-gt-sm;
                    @include logo();
                    .mensaje {
                        text-transform: uppercase;
                        font-family: $tipo-titulos;
                        color: $color-blanco;
                    }
                }
            }
        }
    }
}
// @keyframes
@include keyframes(dummy) {
    from {opacity: 0;}
    to {opacity: 0;}
}
@include keyframes(sale-liver) {
    from {
        @media (max-width: $bp-xs) {
            width: $logo-width-liver-xs;
        }
        @media (min-width: $bp-gt-xs) {
            width: $logo-width-liver;
        }
    }
    to {width: 0px;}
}
@include keyframes(sale-astelblanco) {
    from {
        @media (max-width: $bp-xs) {
            width: $logo-width-astelblanco-xs;
        }
        @media (min-width: $bp-gt-xs) {
            width: $logo-width-astelblanco-xs;
        }
    }
    to {width: 0px;}
}
@include keyframes(sale-apellido) {
    from {margin-left: 0.25em;}
    to {margin-left: -0.22em;}
}
@include keyframes(cambio-fondo-logo) {
    0% {background-color: $color-primario-dark;}
    16% {background-color: $color-secundario-dark;}
    66% {background-color: $color-secundario-dark;}
    84% {background-color: $color-primario-dark;}
}
@include keyframes(fade) {
    from {opacity: 1;}
    to {opacity: 0;}
}
@include keyframes(fade-in) {
    from {opacity: 0;}
    to {opacity: 1;}
}
@include keyframes(abre) {
    from {left: -100%;}
    to {left: 0;}
}
@include keyframes(cierra) {
    from {left: 0;}
    to {left: -100%;}
}
@include keyframes(fade-in-md) {
    from {
        opacity: 0;
        filter: saturate(200%);
    }
    75% {
        filter: saturate(100%);
    }
    to {
        opacity: 1;
        filter: saturate(100%);
    }
}
@include keyframes(fade-out-md) {
    from {
        opacity: 1;
        filter: saturate(100%);
    }
    75% {
        filter: saturate(0%);
    }
    to {
        opacity: 0;
        filter: saturate(0%);
    }
}
@include keyframes(a-toolbar-md) {
    from {}
    to {
        top: $m14 * -1;
        left: $m12;
        width: $m12;
        height: $m12;
        padding: 0;
        margin: 0;
        z-index: 9;
    }
}
@include keyframes(sin-padding) {
    from {
        padding-bottom: 0 !important;
    }
    to {
        padding-bottom: 0;
    }
}
@include keyframes(con-padding) {
    from {
        padding-bottom: 0;
    }
    to {
        padding-bottom: 0 !important;
    }
}