@charset "UTF-8";
// Vendor prefixes para animaciones
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {@content;}
    @-moz-keyframes #{$animation-name} {@content;}  
    @-ms-keyframes #{$animation-name} {@content;}
    @-o-keyframes #{$animation-name} {@content;}  
    @keyframes #{$animation-name} {@content;}
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}
// Animaciones genéricas
@mixin ng-fade_cruzado($tiempo,$function) {
  &.ng-enter {
    transition: $tiempo $function all;
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    transition: $tiempo $function all;
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
@mixin ng-fade($tiempo-enter,$tiempo-leave,$function) {
  &.ng-enter {
    transition: $tiempo-enter $function all;
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    transition: $tiempo-leave $function all;
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
@mixin ng-der_izq($tiempo,$function) {
  &.ng-enter {
    transition: $tiempo $function all $tiempo;
    opacity: 0;
    right: -100%;
    &.ng-enter-active {
      opacity: 1;
      right: 0;
    }
  }
  &.ng-leave {
    transition: $tiempo $function all;
    opacity: 1;
    right: 0;
    &.ng-leave-active {
      opacity: 0;
      right: 100%;
    }
  }
}
// Animación de logo
@mixin logo() {
  .logo {
    @media (max-width: $bp-xs) {
      height: $logo-height-xs;
      padding: $logo-padding-xs;
      border-radius: $logo-border-radius-xs;
      font-size: $logo-font-size-xs;
    }
    @media (min-width: $bp-gt-xs) {
      height: $logo-height-lg;
      padding: $logo-padding-lg;
      border-radius: $logo-border-radius-lg;
      font-size: $logo-font-size-lg;
    }
    background-color: $color-primario-dark;
    font-family: $tipo-titulos;
    color: $color-blanco;
    overflow: hidden;
    &.fondo-cambiante {
      @include animation('4s linear 0s infinite alternate cambio-fondo-logo');
    }
    &.oculto {
      @include animation('2s ease-in-out 1 fade');
    }
    .capital {
      text-transform: uppercase;
    }
    .texto {
      text-transform: lowercase;
      &.liver {
        @include animation('2s cubic-bezier(0.755, 0.050, 0.855, 0.060) 3s 1 sale-liver');
        &.inicial {
          @media (max-width: $bp-xs) {
            width: $logo-width-liver-xs;
          }
          @media (min-width: $bp-gt-xs) {
            width: $logo-width-liver-lg;
          }
        }
      }
      &.astelblanco {
        @include animation('2s cubic-bezier(0.755, 0.050, 0.855, 0.060) 3s 1 sale-astelblanco');
        &.inicial {
          @media (max-width: $bp-xs) {
            width: $logo-width-astelblanco-xs;
          }
          @media (min-width: $bp-gt-xs) {
            width: $logo-width-astelblanco-lg;
          }
        }
      }
      &.final {
        width: 0px;
      }
    }
    .apellido {
      margin-left: 0.25em;
      @include animation('2s cubic-bezier(0.755, 0.050, 0.855, 0.060) 3s 1 sale-apellido');
      &.final {
        margin-left: -0.22em !important;
      }
    }
    .nombre {
      margin: 0;
    }
    .nombre,
    .apellido,
    .capital,
    .texto {
      float: left;
      overflow: hidden;
    }
  }
  .dummy {
    opacity: 0;
    @include animation('1.9s linear 3s 1 dummy');
  }
}