@use "styles/typo" as typo;
@use "styles/color" as color;
@use "styles/barra" as barra;
@use "styles/selector" as selector;
@use "styles/card" as card;
@use "styles/boton" as boton;
@use "styles/carrusel" as carrusel;
@use "styles/overlay" as overlay;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

// Listado de colores principales
$colores: (
  colorBlanco: color.$blanco,
  colorNegro: color.$negro,
  colorPrimario: color.$primario,
  colorAcento: color.$acento,
  colorGris900: color.$gris-900,
  colorSombraArrojada: color.$sombra-arrojada,
  colorPrimario900: color.$primario-900,
  colorPrimario800: color.$primario-800,
  colorPrimario700: color.$primario-700,
  colorPrimario600: color.$primario-600,
  colorPrimario500: color.$primario-500,
  colorPrimario400: color.$primario-400,
  colorPrimario300: color.$primario-300,
  colorPrimario200: color.$primario-200,
  colorPrimario100: color.$primario-100,
  colorPrimario50: color.$primario-50,
  colorAcento900: color.$acento-900,
  colorAcento800: color.$acento-800,
  colorAcento700: color.$acento-700,
  colorAcento600: color.$acento-600,
  colorAcento500: color.$acento-500,
  colorAcento400: color.$acento-400,
  colorAcento300: color.$acento-300,
  colorAcento200: color.$acento-200,
  colorAcento100: color.$acento-100,
  colorAcento50: color.$acento-50
);
// Genera variables CSS para los colores
@function nombre-propiedad($nombre) {
  @return "--" + $nombre;
}
@mixin define-nombre-propiedad($nombre, $valor) {
  #{nombre-propiedad($nombre)}: $valor;
}

// Estilos generales directos al DOM
html {
  body {
    position: relative;
    @each $nombre, $valor in $colores {
      @include define-nombre-propiedad($nombre, $valor);
    }
    @include typo.alcance("body");
    color: color.$gris-900;
    .portafolio {
      #contenido {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        padding-bottom: 32px;
        ul {
          padding: 1em;
          li {
            margin-left: 1em;
            display: list-item;
            list-style-type: disc;
          }
        }
      }
    }
    .contacteme {
      .formulario {
        .contenido {
          .campos {
            .campo {
              label {
                .obligatorio {
                  color: color.$acento;
                }
              }
            }
          }
        }
      }
      .mensaje-final {
        .contenido {
          .texto {
            h3 {
              text-align: center;
              font-size: 1.17em;
              font-weight: 800;
              display: block;
              margin-top: 1em;
            }
            a {
              text-decoration: underline;
              color: color.$acento;
              padding: 4px 8px;
              line-height: 28px;
              border-radius: 12px;
              &:hover {
                color: color.$gris-900;
                @include color.fondo-transparente("blanco");
                @include color.sombra("inset");
              }
            }
          }
        }
      }
    }
  }
}
