@use "sass:map";
@use "sass:math";
@use "@angular/material" as mat;
@use "./estilos/tema" as tema;

// Core
@include mat.core();

// Paletas
$ocastelblanco-primary: mat.define-palette(tema.$oc-primario);
$ocastelblanco-accent: mat.define-palette(tema.$oc-primario, A200, A100, A400);
$ocastelblanco-warn: mat.define-palette(mat.$red-palette);
$oc-basico: tema.$oc-basico;

$oc-tipografia: map.merge(
  mat.define-typography-config(),
  (
    body-1: tema.$body-1,
    body-2: tema.$body-2,
    body-3: tema.$body-3,
    body-4: tema.$body-4,
    body-5: tema.$body-5,
    heading-1: tema.$heading-1,
    heading-2: tema.$heading-2,
    heading-3: tema.$heading-3,
    heading-4: tema.$heading-4,
    caption-1: tema.$caption-1,
    caption-2: tema.$caption-2,
    caption-3: tema.$caption-3,
    especial: tema.$especial
  )
);
@include mat.typography-hierarchy($oc-tipografia);

// Tamalños y estilos
$oc-tamanos: tema.$oc-tamanos;

// Create the theme object
$ocastelblanco-theme: mat.define-light-theme(
  (
    color: (
      primary: $ocastelblanco-primary,
      accent: $ocastelblanco-accent,
      warn: $ocastelblanco-warn
    ),
    typography: $oc-tipografia
  )
);

// Include theme styles
@include mat.all-component-themes($ocastelblanco-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Alegreya Sans", "Helvetica Neue", sans-serif;
  color: map.get($oc-basico, "oscuro");
}
