@use "/src/styles/color" as color;
@use "/src/styles/typo" as typo;

.icono {
  display: flex;
  justify-content: center;
  align-items: center;
  &.gris-900 {
    color: color.$gris-900;
  }
  &.blanco {
    color: color.$blanco;
  }
  &.xs {
    width: typo.$icon-xs-size;
    height: typo.$icon-xs-size;
    font-size: typo.$icon-xs-size - 3;
  }
  &.md {
    width: typo.$icon-md-size;
    height: typo.$icon-md-size;
    font-size: typo.$icon-md-size - 5;
  }
  &.lg {
    width: typo.$icon-lg-size;
    height: typo.$icon-lg-size;
    font-size: typo.$icon-lg-size - 5;
  }
  &.s3x {
    width: typo.$icon-3x-size;
    height: typo.$icon-3x-size;
    font-size: typo.$icon-3x-size - 5;
  }
}
